<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    {{> common/head }}
</head>

<body>
    <div class="nav-layer"></div>
    <a id="backTop" title="Back to top" href="#"><i class="fas fa-angle-up"></i></a>
    {{> pop-up/signin-popup }}
    {{> pop-up/forgotten-password-popup }}
    {{> pop-up/filter-popup }}
    {{> pop-up/register-popup }}

    {{> common/header }}

    <section id="about-page-section">
        {{> section/nav-line}}

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ol>
                        <li> <a href="">
                                Ana Sayfa
                            </a></li>
                        <li>
                            <a href="">
                                / Meyve,Sebze
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-12">
                    <div class="about-content">
                        <h2>Hakkımızda</h2>

                        <div class="row">
                            <div class="col-lg-4">
                                <img src="../assets/jpg/carrefoursa-img.jpg" alt="">
                            </div>
                            <div class="col-lg-8">
                                <p>Bugün 30 ülkede, yaklaşık 11 binin üzerinde marketi ve 350 bin çalışanı bulunan,
                                    Avrupa’nın lideri, dünyanın en büyük ikinci perakende zinciri Carrefour Grubu ilk
                                    marketini 15 Haziran 1963’te Fransa’da açarak modern perakendeciliğin temelini
                                    oluşturmuştur. Türkiye’de ise ilk marketini 1993 yılında İçerenköy’de açan
                                    Carrefour, Hiper market konseptini Türk tüketicilerle buluşturan ilk firmadır.
                                    <br>
                                    <br>
                                    1996 yılında Türkiye’nin en büyük topluluklarından biri olan Sabancı Holding ile
                                    Carrefour Grubu’nun gerçekleştirdiği ortaklık sonucu CarrefourSA ismi doğmuş ve ilk
                                    CarrefourSA marketi birleşmeden bir yıl sonra Adana’da açılmıştır.
                                    <br>
                                    <br>
                                    CarrefourSA, 2005 yılında Gima ve Endi marketlerini satın alarak sektördeki
                                    iddiasını güçlendirmiş; market ağını yaygınlaştırmış ve özellikle Anadolu’daki
                                    varlığını güçlendirmiştir.</p>
                            </div>
                            <div class="col-lg-12">
                                <p>2013 yılında Şirket yönetiminin Sabancı Holding’e geçmesiyle yeni
                                    strateji oluşturulmuş ve bu doğrultuda insan kaynakları, teknolojik altyapı, market
                                    konsepti gibi birçok alanda 165 milyon TL değerinde yatırım yapılmıştır.
                                    <br><br>
                                    Değişen market konseptleriyle CarrefourSA bugün; Hiper, Süper, Gurme, Mini ve
                                    E-Ticaret
                                    konseptleri altında farklı müşteri segmentlerine hizmet sunmaktadır.
                                    <br><br>
                                    2015 yılını “Vites Büyütme Yılı” olarak nitelendiren Şirket, yeni satınalmalarla
                                    büyümeye devam etmiştir. İsmar ve 1e1 marketlerinden toplamda 55 mağaza satın alan
                                    CarrefourSA ayrıca Kiler Alışveriş Hizmetleri Gıda Sanayi ve Ticaret A.Ş.’nin %85
                                    hissesini de satın almıştır.
                                    <br><br>
                                    Güçlü bir finansal pozisyona sahip olan CarrefourSA, büyüme ve değer yaratma
                                    potansiyeli
                                    olan tüm projeleri kendi kaynaklarıyla değerlendirerek yatırımlarına devam etmeyi,
                                    bu
                                    sayede tüketiciler için yakın, keyifli ve değer yaratan alışverişin adresi olmayı
                                    hedeflemektedir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>


    {{> common/footer }}

</body>

</html>