<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    {{> common/head }}
</head>

<body>
    <div class="nav-layer"></div>
    <a id="backTop" title="Back to top" href="#"><i class="fas fa-angle-up"></i></a>
    {{> pop-up/signin-popup }}
    {{> pop-up/forgotten-password-popup }}
    {{> pop-up/filter-popup }}
    {{> pop-up/register-popup }}
    {{> common/header }}

    <section id="account-page-section">
        {{> section/nav-line}}

        <div class="container">
            <div class="account-content">
                <div class="row">
                    <div class="col-lg-12">
                        <ol>
                            <li> <a href="">
                                    Ana Sayfa
                                </a></li>
                            <li>
                                <a href="">
                                    / Hesabım
                                </a>
                            </li>
                        </ol>
                    </div>

                    <div class="col-lg-3 col-md-5">
                        {{> section/account-sidebar}}
                    </div>
                    <div class="col-lg-9 col-md-7">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="" class="account-icons">
                                    <i class="fas fa-user"></i>
                                    <span>
                                        Profilim
                                    </span>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="" class="account-icons">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>
                                        Siparişlerim
                                    </span>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="" class="account-icons">
                                    <i class="fas fa-map-marked-alt"></i>
                                    <span>
                                        Adreslerim
                                    </span>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="" class="account-icons">
                                    <i class="fas fa-lock"></i>
                                    <span>
                                        Adreslerim
                                    </span>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="" class="account-icons">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span>
                                        Adreslerim
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>


    {{> common/footer }}

</body>

</html>