<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    {{> common/head }}
</head>

<body>
    <div class="nav-layer"></div>
    <a id="backTop" title="Back to top" href="#"><i class="fas fa-angle-up"></i></a>
    {{> pop-up/signin-popup }}
    {{> pop-up/forgotten-password-popup }}
    {{> pop-up/filter-popup }}
    {{> pop-up/register-popup }}
    {{> common/header }}

    <section id="basket-page-section">
        {{> section/nav-line}}

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ol>
                        <li> <a href="">
                                Ana Sayfa
                            </a></li>
                        <li>
                            <a href="">
                                / Sepetim
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-12">
                    <div class="basket-content">

                        <h2>
                            Sepetinizde ürün bulunmamaktadır.
                        </h2>
                        <p>
                            <strong>
                                Sepetinizi meyve, sebze, et, deterjan ve daha birçok ürünle doldurabilirsiniz. <br>
                                Hesabınız varsa sepetinizi görmek için üye girişi yapabilirsiniz ya da ana sayfaya
                                dönerek alışverişe devam edebilirsiniz.
                            </strong>
                        </p>

                        <button type="button" class="button-blue">Ana sayfaya dön</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>


    {{> common/footer }}

</body>

</html>