<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    {{> common/head }}
</head>

<body>
    <div class="nav-layer"></div>
    <a id="backTop" title="Back to top" href="#"><i class="fas fa-angle-up"></i></a>
    {{> pop-up/signin-popup }}
    {{> pop-up/forgotten-password-popup }}
    {{> pop-up/filter-popup }}
    {{> pop-up/register-popup }}
    {{> common/header }}

    <section id="campaigns-page-section">
        {{> section/nav-line}}

        <div class="campaigns-content">
            <div class="campaigns-title">
                <h2>
                    Kampanyalar
                </h2>
                <span>
                    Ürün Kampanyaları
                </span>
            </div>
            <div class="campaigns-menu">
                <div class="container">
                    <div class="campaigns-menu-desk">
                        <a class="item">
                            <div class="item-child"> <span>Kampanyalı Ürünler <i class="fas fa-angle-right"></i></span>
                            </div>
                            <div class="subnav">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-border-all"></i>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-laptop-house"></i>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-bed"></i>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-dolly-flatbed"></i>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-birthday-cake"></i>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </a>
                        <a href="" class="item">
                            <div class="item-child"><span>İndirimli Ürünler <i class="fas fa-angle-right"></i></span>
                            </div>
                            <div class="subnav">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-birthday-cake"></i>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                        <a href="" class="item">
                            <div class="item-child"><span>Sepet Kampanyaları <i class="fas fa-angle-right"></i></span>
                            </div>
                            <div class="subnav">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-border-all"></i>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-dolly-flatbed"></i>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-birthday-cake"></i>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </a>
                        <a href="" class="item">
                            <div class="item-child"><span>Marka Kampanyaları <i class="fas fa-angle-right"></i></span>
                            </div>
                            <div class="subnav">
                                <div class="container">
                                    <ul>

                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-laptop-house"></i>
                                                </span>
                                            </div>
                                        </li>


                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-birthday-cake"></i>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </a>
                        <a href="" class="item">
                            <div class="item-child"><span>Kargo Bedava <i class="fas fa-angle-right"></i></span></div>
                            <div class="subnav">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-border-all"></i>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-laptop-house"></i>
                                                </span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </a>
                        <a href="" class="item">
                            <div class="item-child last-item"><span>Sosyal Sorumluluk Projeleri <i
                                        class="fas fa-angle-right"></i></span></div>
                            <div class="subnav">
                                <div class="container">
                                    <ul>

                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-laptop-house"></i>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="subnav-item">
                                                <span>
                                                    <i class="fas fa-bed"></i>
                                                </span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="campaigns-menu-resp">
                    <div class="xs-menu-cont">
                        <a id="menutoggle">Menu<i class="fas fa-bars ml-4"></i></a>
                        <nav class="xs-menu">
                            <ul>
                                <li class="active">
                                    <a href="#">Kampanyalı Ürünler <i class="fas fa-angle-right"></i></a>
                                </li>
                                <li>
                                    <a href="#">İndirimli Ürünler <i class="fas fa-angle-right"></i></a>
                                </li>
                                <li>
                                    <a href="#">Sepet Kampanyaları <i class="fas fa-angle-right"></i></a>
                                </li>
                                <li>
                                    <a href="#">Marka Kampanyaları <i class="fas fa-angle-right"></i></a>
                                </li>
                                <li>
                                    <a href="#">Kargo Bedava <i class="fas fa-angle-right"></i></a>
                                </li>
                                <li>
                                    <a href="#">Sosyal Sorumluluk Projeleri <i class="fas fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        {{> section-inner/campaigns-item}}
                    </div>
                     <div class="col-lg-4 col-md-6">
                        {{> section-inner/campaigns-item}}
                    </div>
                     <div class="col-lg-4 col-md-6">
                        {{> section-inner/campaigns-item}}
                    </div>
                     <div class="col-lg-4 col-md-6">
                        {{> section-inner/campaigns-item}}
                    </div>
                     <div class="col-lg-4 col-md-6">
                        {{> section-inner/campaigns-item}}
                    </div>
                     <div class="col-lg-4 col-md-6">
                        {{> section-inner/campaigns-item}}
                    </div>
                     <div class="col-lg-4 col-md-6">
                        {{> section-inner/campaigns-item}}
                    </div>
                     <div class="col-lg-4 col-md-6">
                        {{> section-inner/campaigns-item}}
                    </div>
                     <div class="col-lg-4 col-md-6">
                        {{> section-inner/campaigns-item}}
                    </div>
                    
                </div>
            </div>
        </div>
    </section>


    {{> common/footer }}

</body>

</html>