<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    {{> common/head }}
</head>

<body>
    <div class="nav-layer"></div>
    <a id="backTop" title="Back to top" href="#"><i class="fas fa-angle-up"></i></a>


    {{> pop-up/signin-popup }}
    {{> pop-up/forgotten-password-popup }}
    {{> pop-up/filter-popup }}
    {{> pop-up/register-popup }}
    {{> common/header }}

    <section id="signIn-section">
        {{> section/nav-line}}

        <div class="container">
            <div class="row">
                  <div class="col-lg-12">
                    <ol>
                        <li> <a href="">
                                Ana Sayfa
                            </a></li>
                        <li>
                            <a href="">
                                / Meyve,Sebze
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="signin-content">
                        <h4>
                            Giriş Yap
                        </h4>
                        <form>
                            <label for="">
                                <span>E-posta</span>
                                <input type="text">
                            </label>
                            <label for="">
                                <span>Şifre</span>
                                <input id="password-field" type="password">
                                <span toggle="#password-field" class="fa fa-fw fa-eye toggle-password"></span>
                            </label>
                            <button type="button" class="forgotten-password open">
                                Şifreni unutdunmu?
                            </button>
                             <div class="register-button">
                                <button class="button-blue">Giriş Yap</button>
                            </div>

                            <div class="social-button">
                                <button type="button" class="google">
                                    <img src="../assets/png/google.png" alt=""> <span> Google ile giriş
                                        yap</span>
                                </button>
                                <button type="button" class="facebook">
                                    <img src="../assets/png/facebook.png" alt=""> <span>Facebook ile giriş
                                        yap</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </section>


    {{> common/footer }}

</body>

</html>