<div class="account-sidebar">
    <div class="account-sidebar-head">
        <h3>
            Hesabım
        </h3>
        <p>
            Hesap işlemlerinizi bu alandan gerçekleştirebilirsiniz.
        </p>
    </div>
    <div class="account-sidebar-body">
        <a href="" class="active">
            Hesabım <i class="fas fa-angle-right"></i>
        </a>
        <a href="">
            Profilim <i class="fas fa-angle-right"></i>
        </a>
        <a href="">
            Siparişlerim <i class="fas fa-angle-right"></i>
        </a>
        <a href="">
            Adreslerim <i class="fas fa-angle-right"></i>
        </a>
        <a href="">
            Şifre Değiştirme <i class="fas fa-angle-right"></i>
        </a>
        <a href="">
            Çıkış<i class="fas fa-angle-right"></i>
        </a>
    </div>
    <div class="account-sidebar-info">
        <h3>
            Bilgi
        </h3>
        <p>
            Siparişlerinizle ilgili tüm sorularınız için <strong>444 10 00</strong>
            numaralı telefonu arayabilir veya<a href="">bilgi@carrefoursa.com</a>
             adresine eposta gönderebilirsiniz.
        </p>
    </div>
</div>