<div class="address-selection-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <img src="../assets/logo.webp" alt="">
                </div>
            </div>
            <div class="col-lg-9">
                <div class="address-content">
                    <div class="address-select active">
                        <span>1</span>
                        <p>Adres Seçimi</p>
                    </div>

                     <div class="address-select third">
                        <span>1</span>
                        <p>Ödeme Şekli </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>