    <section class="nav">
            <div class="sidebar">
                <div class="first-menu">
                    <button type="button" class="align-middle sidebar-header"> <i class="fas fa-bars"></i>
                        Kategoriler</button>

                    <ul class="list-group flex-column  first-menu-toggle">
                        <li class="list-group-item ">
                            <a href="">
                                <img src="../assets/png/food.png" class="nav-icon" alt="">
                                <span class="ml-2 align-middle">Meyve,Sebze</span>
                            </a>
                            <ul class="list-group flex-column d-inline-block submenu">
                                <li class="list-group-child-item ">
                                    <a href="#" class="px-3">Meyve</a>
                                    <a href="#" class="px-3">Sebze</a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item ">
                            <a href="#">
                                <img src="../assets/png/meat.png" class="nav-icon" alt="">
                                <span class="ml-2 align-middle">Et,Balık,Kümes</span>
                            </a>
                            <ul class="list-group flex-column d-inline-block submenu">
                                <li class="list-group-child-item ">
                                    <a href="#" class="px-3">Et</a>
                                    <a href="#" class="px-3">Balık</a>
                                    <a href="#" class="px-3">Kümes</a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item ">
                            <a href="#">
                                <img src="../assets/png/milk.png" class="nav-icon" alt="">

                                <span class="ml-2 align-middle">Süt, Kahvaltılıklar</span>
                            </a>
                            <ul class="list-group flex-column d-inline-block submenu">
                                <li class="list-group-child-item">
                                    <a href="#" class="px-3">Kahvaltılıklar</a>
                                    <a href="#" class="px-3">Krema ve Kaymak</a>
                                    <a href="#" class="px-3">Peynir</a>
                                    <a href="#" class="px-3">Süt</a>
                                    <a href="#" class="px-3">Yoğurt</a>
                                    <a href="#" class="px-3">Yumurta</a>
                                    <a href="#" class="px-3">Zeytin</a>
                                </li>
                            </ul>
                        </li>

                        <li class="list-group-item ">
                            <a href="#">
                                <img src="../assets/png/cake.png" class="nav-icon" alt="">

                                <span class="ml-2 align-middle">Gıda,Şekerleme</span>
                            </a>
                            <ul class="list-group flex-column d-inline-block submenu">
                                <li class="list-group-child-item ">
                                    <a href="#" class="px-3">Salça, Harç ve Bulyon</a>
                                    <a href="#" class="px-3">Dondurulmuş Ürünler</a>
                                    <a href="#" class="px-3">Dondurma</a>
                                    <a href="#" class="px-3">Sıvı yağlar</a>
                                    <a href="#" class="px-3">konserveler</a>

                                </li>
                            </ul>
                        </li>

                        <li class="list-group-item ">
                            <a href="#">
                                <img src="../assets/png/wine.png" class="nav-icon" alt="">

                                <span class="ml-2 align-middle">İçecekler</span>
                            </a>
                            <ul class="list-group flex-column d-inline-block submenu">
                                <li class="list-group-child-item">
                                    <a href="#" class="px-3">Çay</a>
                                    <a href="#" class="px-3">Kahve</a>
                                    <a href="#" class="px-3">Gazsız İçecekler</a>
                                    <a href="#" class="px-3">Gazlı İçecekler</a>
                                    <a href="#" class="px-3">Maden Suları</a>

                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item ">
                            <a href="#">
                                <img src="../assets/png/boy.png" class="nav-icon" alt="">

                                <span class="ml-2 align-middle">Çocuk Dünyası</span>
                            </a>
                            <ul class="list-group flex-column d-inline-block submenu">
                                <li class="list-group-child-item">
                                    <a href="#" class="px-3">Bebek Bezi</a>
                                    <a href="#" class="px-3">Havlu</a>
                                    <a href="#" class="px-3">Islak Mendil</a>
                                    <a href="#" class="px-3">Beslenme</a>
                                    <a href="#" class="px-3">Eğitim</a>
                                </li>
                            </ul>
                        </li>

                        <li class="list-group-item ">
                            <a href="#">
                                <img src="../assets/png/clear.png" class="nav-icon" alt="">

                                <span class="ml-2 align-middle">Temizlik Ürünleri</span>
                            </a>
                            <ul class="list-group flex-column d-inline-block submenu">
                                <li class="list-group-child-item">
                                    <a href="#" class="px-3">Haşere Öldürücüler</a>
                                    <a href="#" class="px-3">Bulaşık Yıkama Ürünleri</a>
                                    <a href="#" class="px-3">Çamaşır Yıkama Ürünleri</a>
                                    <a href="#" class="px-3">Ev Bakımı</a>
                                    <a href="#" class="px-3">Oda Kokusu ve Koku Gidericiler</a>
                                </li>
                            </ul>
                        </li>

                        <li class="list-group-item ">
                            <a href="#">
                                <img src="../assets/png/roll.png" class="nav-icon" alt="">

                                <span class="ml-2 align-middle">Kağıt,Kozmetik</span>
                            </a>
                            <ul class="list-group flex-column d-inline-block submenu">
                                <li class="list-group-child-item">
                                    <a href="#" class="px-3">Haşere Öldürücüler</a>
                                    <a href="#" class="px-3">Bulaşık Yıkama Ürünleri</a>
                                    <a href="#" class="px-3">Çamaşır Yıkama Ürünleri</a>
                                    <a href="#" class="px-3">Ev Bakımı</a>
                                    <a href="#" class="px-3">Oda Kokusu ve Koku Gidericiler</a>
                                </li>
                            </ul>
                        </li>

                        <li class="list-group-item ">
                            <a href="#">
                                <img src="../assets/png/responsive-design.png" class="nav-icon" alt="">

                                <span class="ml-2 align-middle">Elektronik</span>
                            </a>
                            <ul class="list-group flex-column d-inline-block submenu">
                                <li class="list-group-child-item">
                                    <a href="#" class="px-3">Haşere Öldürücüler</a>
                                    <a href="#" class="px-3">Bulaşık Yıkama Ürünleri</a>
                                    <a href="#" class="px-3">Çamaşır Yıkama Ürünleri</a>
                                    <a href="#" class="px-3">Ev Bakımı</a>
                                    <a href="#" class="px-3">Oda Kokusu ve Koku Gidericiler</a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item ">
                            <a href="#">
                                <img src="../assets/png/home.png" class="nav-icon" alt="">

                                <span class="ml-2 align-middle">Ev,Yaşam,Eğlence</span>
                            </a>
                            <ul class="list-group flex-column d-inline-block submenu">
                                <li class="list-group-child-item">
                                    <a href="#" class="px-3">Haşere Öldürücüler</a>
                                    <a href="#" class="px-3">Bulaşık Yıkama Ürünleri</a>
                                    <a href="#" class="px-3">Çamaşır Yıkama Ürünleri</a>
                                    <a href="#" class="px-3">Ev Bakımı</a>
                                    <a href="#" class="px-3">Oda Kokusu ve Koku Gidericiler</a>
                                </li>
                            </ul>
                        </li>

                        <li class="list-group-item ">
                            <a href="#">
                                <img src="../assets/png/catalogred.png" class="nav-icon" alt="">

                                <span class="ml-2 align-middle">Katalog ürünleri,Fırsatlar</span>
                            </a>
                            <ul class="list-group flex-column d-inline-block submenu">
                                <li class="list-group-child-item">
                                    <a href="#" class="px-3">Haşere Öldürücüler</a>
                                    <a href="#" class="px-3">Bulaşık Yıkama Ürünleri</a>
                                    <a href="#" class="px-3">Çamaşır Yıkama Ürünleri</a>
                                    <a href="#" class="px-3">Ev Bakımı</a>
                                    <a href="#" class="px-3">Oda Kokusu ve Koku Gidericiler</a>
                                </li>
                            </ul>
                        </li>
                        <a href="" class="nav-company-button">
                            <i class="fas fa-bullhorn mr-2"></i>
                            Kampanyalar
                        </a>
                    </ul>
            
            </div>
        </div>
    </section>