    <div class="owl-carousel owl-theme product-section" id="">
        <div class="item">
            {{> section-inner/product-item}}
        </div>
        <div class="item">
            {{> section-inner/product-item}}
        </div>
        <div class="item">
            {{> section-inner/product-item}}
        </div>
        <div class="item">
            {{> section-inner/product-item}}
        </div>
        <div class="item">
            {{> section-inner/product-item}}
        </div>
    </div>
