<div class="product">
    <div class="row">
        <div class="col-lg-12">
            <h4>Ramazanda İftar İçin Ne Lazımsa</h4>
        </div>

        <div class="col-lg-4">

            <div class="product-left">
                <img src="../assets/jpg/product-left.webp" alt="">
            </div>
        </div>
        <div class="col-lg-8">
            {{> section/product-section}}
        </div>
    </div>
</div>