#change-password-page-section {
    background-color: #f1f1f1;

    .nav {

        .first-menu-toggle,
        .nav-company-button {
            visibility: hidden;
            opacity: 0;
            transition: $tr;
            display: none !important;

            &.nav-active {
                visibility: visible;
                opacity: 1;
                display: block !important;
            }
        }
    }

    .change-password-content {
        padding: 10px;
        background-color: #fff;
        margin-bottom: 20px;
        border-radius: 3px;

        .change-password-icon {
            display: flex;
            align-items: flex-start;
            justify-content: center;

            i {
                font-size: 40px;
                color: $blue;
                margin-top: 10px;
            }
        }

        .change-password-text {
            display: flex;
            flex-direction: column;
            h3 {
                font-size: 30px;
                color: $blue;

                @media (max-width: 991.9px) {
                    font-size: 25px;
                }

                @media (max-width: 767.9px) {
                    font-size: 20px;
                }
            }

            p {
                margin: 0;
                font-size: 14px;
            }

            @media (max-width: 991.9px){
                margin-top: 10px;
                text-align: center;

            }
        }

        @media (max-width: 767.9px) {
            padding: 20px;
        }
    }

    .change-password-inputs {
        padding: 10px;
        background-color: #fff;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        width: 50%;
        p{
            font-size: 14px;
            color: #666;
        }
        label{
            margin-bottom: 20px;
            width: 100%;
            p{
                font-size: 14px;
                color: #666;
                margin-bottom: 5px;
                span{
                    color: red;
                }
            }
            input{
                width: 100%;
                border-radius: 3px;
                border: 1px solid #d7d7d7;
            }
        }
        .buttons{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;

            button{
                width: fit-content;
                padding: 5px 10px;
                font-size: 14px;
            }
            @media (max-width: 767.9px) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                button{
                    width: 100%;
                }
            }
        }

        @media (max-width: 991.9px) {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width:100%
        }
    }

}