<div id="popup-filter">
    <div class="popup">
        <div class="popup-layer"></div>
        <div class="popup-content" style="width: 250px;">
            <div class="popup-head">
                <h4>Sırala</h4>
                <i class="fas fa-times close"></i>
            </div>
            <div class="popup-body">
                <form action="">
                    <label for="">
                        <input type="radio" checked="checked" name="sortingRadio" value="relevance">
                        <p>Akıllı Sıralama</p>
                    </label>
                    <label for="">
                        <input type="radio" name="sortingRadio" value="bestSeller">
                        <p>Çok Satanlar</p>
                    </label>
                    
                    <label for="">
                        <input type="radio" name="sortingRadio" value="price-desc">
                        <p>En Yüksek Fiyat</p>
                    </label>
                    <label for="">
                        <input type="radio" name="sortingRadio" value="price-asc">
                        <p>En Düşük Fiyat</p>
                    </label>
                </form>
            </div>
        </div>
    </div>

</div>