  <div class="popup" id="popup-sign">
        <div class="popup-layer"></div>
        <div class="popup-content" style="width: 250px;">
            <div class="popup-head">
                <h4>Parola Kurtarma</h4>
                <i class="fas fa-times forgotten-password-close"></i>
            </div>
            <div class="popup-body">
                <form action="">
                    <p>Lütfen hesabınıza ait e-posta adresini giriniz. Hesabınızı nasıl sıfırlayacağınıza dair
                        talimatlar bu e-posta adresinize gönderilecektir.</p>
                    <p> E-Posta Adresi <span>*</span></p>
                    <input type="text" class="popup-input-text">
                    <button type="button" class="button-blue">Parola Kurtarma</button>
                </form>
            </div>
        </div>
    </div>