<div id="register-content">
    <div class="popup">
        <div class="popup-layer"></div>
        <div class="popup-content" style="width: 250px;">
            <div class="popup-head">
                <h4>
                    Üye Ol
                </h4>
                <i class="fas fa-times close"></i>
            </div>
            <div class="popup-body">
                <form>
                    <label for="">
                        <span>E-posta</span>
                        <input type="text">
                    </label>
                    <label for="">
                        <p><span>Şifre</span>Şifreniz en az 6 karakter uzunluğunda olmalı.</p>
                        <input id="password-field" type="password">
                        <span toggle="#password-field" class="fa fa-fw fa-eye toggle-password"></span>
                    </label>
                    <label for="" class="label-checkbox">
                        <input type="checkbox" name="" id="">
                        <p>Ticari Elektronik İleti iznini vermeyi kabul ediyorum.</p>
                    </label>
                    <div class="social-button">
                        <button type="button" class="google">
                            <img src="../assets/png/google.png" alt=""> <span> Google ile giriş
                                yap</span>
                        </button>
                        <button type="button" class="facebook">
                            <img src="../assets/png/facebook.png" alt=""> <span>Facebook ile giriş
                                yap</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>