<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2 col--md-6">
                        <p class="footer-mail-p">
                            Kampanyalardan Haberdar Olun:
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <form class="footer-mail">
                            <input type="text" placeholder="E-Posta adresiniz">
                            <button type="button">
                                Gönder
                            </button>


                        </form>

                    </div>
                    <div class="col-lg-1 col-md-6">
                        <p class="footer-mail-p footer-mail-p-mob">Uygulamalar:</p>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="" class="footer-store">
                            <img src="../assets/png/google-play.svg" alt="">
                            <img src="../assets/png/app-store.svg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-customer-service">
                            Müşteri Hizmetleri:
                            <span>444 1000</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-title">
                    <h3>
                        ÜYELİK İŞLEMLERİ
                    </h3>
                    <ul>
                        <li>
                            <button class="sign-pop-up-button">
                                Giriş yap
                            </button>
                        </li>
                        <li>
                            <button class="register-pop-up-button">
                                Üye ol
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="footer-title">
                    <h3>
                        MÜŞTERİ HİZMETLERİ
                    </h3>
                    <ul>
                        <li><a href="">Sizi Dinliyoruz</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-title">
                    <h3>
                        SİPARİŞ İŞLEMLERİ
                    </h3>
                    <ul>
                        <li><a href="">Fatura Bulucu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-title">
                    <h3>
                        KURUMSAL
                    </h3>
                    <ul>
                        <li><a href="">Kampanyalar</a></li>
                        <li><a href="">Hakkımızda</a></li>
                        <li><a href="">İletişim</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-title">
                    <h3>
                        SOSYAL
                    </h3>
                    <ul>
                        <li><a href=""><img src="../assets/png/facebook.png" alt=""> Facebook</a></li>
                        <li><a href=""><img src="../assets/png/twitter.png" alt=""> Twitter</a></li>
                        <li><a href=""><img src="../assets/png/instagram.png" alt=""> Instagram</a></li>
                        <li><a href=""><img src="../assets/png/linkedin.png" alt=""> LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>