<header>
    <div class="container ">


        <div class="header-bottom">
            <div class="row">
                <div class="col-lg-2 ">
                    <div class="header-logo">
                        <div class="header-nav-mobile">
                            <button type="button" class="nav-button-mob">
                                <i class="fas fa-bars"></i>
                            </button>
                            {{> section/nav-section}}

                        </div>
                        <a href="">
                            <img src="../assets/logo.webp" class="logo my-2" alt="">
                        </a>

                        {{!-- MOB /// --}}
                        <div class="header-mobile-icon my-2">
                            <a href=""><i class="fas fa-headset"></i></a>
                            <a href=""> <i class="far fa-user-circle"></i></a>
                            <a href="" class="basket-mobile"> <i class="fas fa-shopping-cart"></i>
                                <span class="basket-price">0</span></a>
                        </div>
                    </div>


                </div>
                <div class="col-lg-4 my-2">
                    <div class="form-search">
                        <form>
                            <input type="text" class="searchbox" placeholder="Məhsulu axtarın...">
                            <button class="search-button">Ara</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2">
                    <a href="" class="call-center">
                        <i class="fas fa-headset"></i>
                        <p>Sizi Dinliyoruz</p>
                    </a>
                </div>
                <div class="col-lg-2">
                    <div class="register-login-button">
                        <i class="far fa-user-circle"></i>
                        <button class="register-pop-up-button">
                             Üye ol 
                        </button>
                        |
                        <button class="sign-pop-up-button">
                             Giriş yap
                        </button>
                        
                    </div>
                </div>
                <div class="col-lg-2">
                    <a href="" class="basket">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="basket-price">
                            0
                        </span>

                        <p>Sepetim
                            <br>
                            <span>
                                0,00TL
                            </span>
                        </p>
                        <i class="fas fa-angle-down ml-3"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</header>