<div class="address-item ">
    <div class="address-item-header">
        <h4>
            Teslimat Adresi Bilgileri
        </h4>

        <button type="button" class="button-white">
            Yeni Teslimat Adresi Ekle
        </button>
    </div>
    <div class="address-item-body"> {{!-- active class--}}
        <div class="address-check">
            <i class="far fa-circle"></i>
        </div>
        <div class="address-item-content">
            <div class="addres-title">
                <p>
                    ev</p>
                <p>
                    <button>
                        Düzenle
                    </button>

                    <button>
                        sil
                    </button>
                </p>
            </div>
            <div class="address-item-info">
                <span>(555) 333 44 43</span>
                <p>Baku</p>
                <p>Bayırkozağacı Mh./Alanya/Antalya</p>
            </div>
            <div class="button">
                <button  type="button" class="button-green">
                    Bu adresi seçtiniz
                </button>
            </div>
        </div>
    </div>
</div>