<a href="" class="campaigns-item">
    <div class="campaigns-head">
        <h6>
            Kapitone Yastık 2 Al 1 Öde
        </h6>
        <div class="campaigns-date" style=" background-image: url(../assets/png/kirmiziserit2.webp);">
            23 Mart - 30 Nisan
        </div>
    </div>

    <div class="campaigns-body">
        <div class="campaigns-banner" style=" background-image: url(../assets/png/campaign-badge.webp);">
            Kampanyalı
        </div>
        <div class="campaigns-ad">
            <img src="../assets/png/pillow.webp" alt="">
        </div>
    </div>

    <div class="campaigns-opportunity">
        <div class="time">
            Kalan Süre + <span>2 gün 03:26:02</span>
        </div>
        <div class="opportunity">
            <i class="far fa-play-circle"></i>
            Fırsatı Kaçırma
        </div>
    </div>
</a>