  <div class="order-extract">
      <div class="order-extract-header">
          <h4>
              Sipariş Özeti
          </h4>
          <a href="">
              Sepetinizdeki Ürünler (1)
          </a>
      </div>
      <div class="order-extract-body">
          <p class="">
              Ürün Tutarı (KDV Dahil)
              <span>115,00 TL</span>
          </p>
          <p class="">
              Teslimat Ücreti
              <span>9,90 TL</span>
          </p>
          <p class="discount">
              CarrefourSA İndirimi
              <span>-11,50 TL</span>
          </p>
          <button class="button-blue">
              Davam Et
              <span>
                  113,40
              </span>
          </button>
      </div>
  </div>