<div class="product-item">
    <button type="button" class="product-like">
        <i class="fas fa-heart"></i>
    </button>
    <a href="" class="product-click">
        <div class="product-img">
            <img src="../assets/jpg/product-image.webp" alt="">
        </div>
        <p class="product-name">
            Pınar Organik Süt 200 ml
        </p>
        <span class="product-price">
            3,50TL
        </span>
    </a>
    <form class="product-price-form">
        <div class="quantity">
            <button type="button" class="decrease">-</button>
            <input type="number" id="amount" value="0" min="0">
            <button type="button" class="increase">+</button>
            <br>

        </div>
        <span>ADET</span>
        <button type="button" class="button-blue">
            Sebete Ekle
        </button>
    </form>

</div>